
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {

  margin: 0;

  font-family: 'Big Shoulders Stencil Display', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url("https://64.media.tumblr.com/7583e4e167af197c3d918ec9c2825934/tumblr_nisdilCaCq1qakhfho2_500.gifv");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  margin:100;
}



/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
