.searchPage{
    display: flex;
    justify-content: center;
}
.searchPage input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 3;
    text-align: center;
}
.searchPage input{
    border: none;
    font-size:25px;
    height: 30px;
    width: 600px;
    border-radius: 25px;
    /* border: none; */
    /* border-bottom: 10px solid #E8E8E8;  */
    /* border-radius: %; */
}
.searchPage > input:focus{
    outline-width: 0;
}
