.searchPage {
    flex: 0.8;
    background-color: linen;
    padding: 20px 20px;
}

.searchPage_filter {
    display: flex;
    align-items: center;
    color: linen;
    font-size: xx-small !important;
}

.searchPage_filter > h2 {
    margin-left: 10px;
}

.searchPage > hr {
    height: 1px;
    border: 0;
    background-color: linen;
    margin-top: 10px;
    margin-bottom: 10px;
}