.sideItemRow {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.sideItemRow_icon {
    color: rgb(98, 141, 184);
    font-size: large !important;
}

.sideItemRow_title {
    flex: 1;
    margin-left: 20px;
    font-size: 12px;
    font-weight: 500;
}

.sideItemRow:hover {
    background-color: lightsalmon;
    cursor: pointer;
}

.sideItemRow:hover > .sideItemRow_icon {
    color: blueviolet
}

.sideItemRow:hover > .sideItemRow_title {
    font-weight: bold;
}

.sideItemRow.selected {
    background-color: lightgoldenrodyellow;
}

.sideItemRow.selected > .sideItemRow_icon {
    color: blueviolet
}

.sideItemRow.sidebarRow.selected > .sideItemRow_title {
    font-weight: bold;
}