
.subject__container{
   
    justify-content: center;
    margin-left: 20px;
    margin-bottom: 200px;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Lobster', cursive;
    
}