.subjectRow{
    display: flex;
    align-items: center;
    width: 70%;
}

.subjectRow_text {
    display: flex;
    flex-direction: column;
}

.subjectRow_text {
    color: linen;
    font-size: small !important;
}

.subjectRow_logo {
    height: 120px !important;
    width: 120px !important;
    margin: 10px 60px;

}

.subjectRow_text > h4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}